#center_board {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: none; 
}

th, td {
    border: solid #000 1px;
}

.favourite_btn {
    width: 20px;
    height: 20px;
    border: 0;
    background: url(/img/christmas_star.png);
    background-size: cover;
}

.td_favourite{
    text-transform: capitalize;
    letter-spacing: 2px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.td_favourite_color {
    opacity:1;
}
