#center_board {
    text-align: center;
}

table {
    border-collapse: collapse;
    border: none; 
}

th, td {
    border: solid #000 1px;
}

.favourite_btn {
    width: 20px;
    height: 20px;
    border: 0;
    background: url(/img/christmas_star.png);
    background-size: cover;
}