#center_board {
    text-align: center;
}

.line {
    margin-top: 5px;
}

.info {
    margin-top: 20px;
    height: 30px;
    width: auto;
    text-align: center;
}

.label {
    font-size: 20px;
    text-align: center;
}

#view_board {
    height: 50px;
}

#btn_board {
    height: 25px;
    margin-top: 10px;
    text-align: center;
}

.btn {
    font-size: 18px;
}

#btn_yes {
    margin-right: 10px;
}

#btn_no {
    margin-left: 10px;
}

#words_count {
    margin-top: 40px;
}

#uinfo_board {
    margin-top: 30px;
    text-align: center;
}
