:root {
    --left-icon-pos: 35px;
    --right-icon-pos: 35px;
}

#center_board {
    text-align: center;
}

.line {
    margin-top: 5px;
}

.info {
    margin-top: 20px;
    height: 30px;
    width: auto;
    text-align: center;
}

.label {
    font-size: 20px;
    text-align: center;
}

#view_board {
    height: 50px;
}

#btn_board {
    height: 25px;
    margin-top: 10px;
    text-align: center;
}

.btn {
    font-size: 18px;
}

#btn_yes {
    margin-right: 10px;
}

#btn_no {
    margin-left: 10px;
}

#words_count {
    margin-top: 50px;
}

#uinfo_board {
    margin-top: 15px;
    text-align: center;
}

#speak_manual {
    width: 30px;
    height: 30px;
    position: fixed;;
    left: 15px;
    top: var(--left-icon-pos);
    border: 0;
    background: url(/img/speak_manual.png);
    background-size: cover;
}

#speak_auto {
    width: 30px;
    height: 30px;
    position: fixed;;
    left: 15px;
    top: var(--left-icon-pos);
    border: 0;
    background: url(/img/speak_auto.png);
    background-size: cover;
}

#favourite_star_white_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: var(--right-icon-pos);
    border: 0;
    background: url(/img/star_white.png);
    background-size: cover;
}

#favourite_star_black_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: var(--right-icon-pos);
    border: 0;
    background: url(/img/star_black.png);
    background-size: cover;
}

#magnifier_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: calc(var(--right-icon-pos) + 35px);
    border: 0;
    background: url(/img/magnifier.png);
    background-size: cover;
}

#speak_png_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: calc(var(--right-icon-pos) + 70px);
    border: 0;
    background: url(/img/speaker.png);
    background-size: cover;
}

#speak_gif_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: calc(var(--right-icon-pos) + 70px);
    border: 0;
    background: url(/img/speaker.gif);
    background-size: cover;
}


