#center_board {
    text-align: center;
}

.line {
    margin-top: 5px;
}

.info {
    margin-top: 20px;
    height: 30px;
    width: auto;
    text-align: center;
}

.label {
    font-size: 20px;
    text-align: center;
}

#view_board {
    height: 50px;
}

#btn_board {
    height: 25px;
    margin-top: 10px;
    text-align: center;
}

.btn {
    font-size: 18px;
}

#btn_yes {
    margin-right: 10px;
}

#btn_no {
    margin-left: 10px;
}

#words_count {
    margin-top: 40px;
}

#uinfo_board {
    margin-top: 25px;
    text-align: center;
}

#magnifier_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 90px;
    border: 0;
    background: url(/img/magnifier.png);
    background-size: cover;
}

.speak_png_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 125px;
    border: 0;
    background: url(/img/speaker.png);
    background-size: cover;
}

.speak_gif_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 125px;
    border: 0;
    background: url(/img/speaker.gif);
    background-size: cover;
}

.favourite_outline_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 55px;
    border: 0;
    background: url(/img/outline_star.png);
    background-size: cover;
}

.favourite_christmas_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 55px;
    border: 0;
    background: url(/img/christmas_star.png);
    background-size: cover;
}
