html, body {
    font-family: Ebrima;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: lightblue;
    color: black;
}

#title {
    margin-bottom: 40px;
}

.line {
    margin-top: 5px;
}

.info {
    margin-top: 10px;
}

.btn {
    margin-top: 20px;
}

#center_board {
    width: 300px;
    margin: 0px auto;
}

#btn_board {
    margin-top: 20px;
}

#copyright {
    margin-top: 40px;
}